# Configuration file

general {
    # Lower values mean higher spawn rate [range: 2 ~ 1000, default: 30]
    I:"Bush spawn rate"=30

    #  [default: true]
    B:"Enable 1.8 mossy cobblestone recipe"=true

    #  [default: true]
    B:"Enable Easter Egg"=true

    #  [default: true]
    B:"Enable berry bush generation"=true

    #  [default: true]
    B:"Enable clay convenience recipies"=true

    #  [default: true]
    B:"Enable cotton plants"=true

    # Only removes the recipies, can still get through creative mode [default: true]
    B:"Enable emerald tools/armor"=true

    #  [default: true]
    B:"Enable fertilizer from rotten flesh"=true

    #  [default: true]
    B:"Enable grass block recipe"=true

    # Change to true to allow crafting string from wool (Considered overpowered with some mods) [default: false]
    B:"Enable string recipe"=false

    #  [default: true]
    B:"Enable vine recipe"=true
}


